# Compilation files
*.obj
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.db
*.intermediate
*.resfiles
*.lastbuildstate
*.recipe
*.pro.user
priconfig.xml
qualifiers.txt
MultipleQualifiersPerDimensionFound.txt

# Visual studio files
vs/.vs/
vs/Win32/
vs/x64/
*.vcxproj.FileListAbsolute.txt

# QT files
moc_*
qrc_*
ui_*
qt.natvis
**/qmake

# QT creator files
qtCreator/bin/
qtCreator/build-*
*.pro.user.*

# MacOs files
.DS_Store
.AppleDouble
.LSOverride
._*

# Other paths
models/
resources/
